@media (max-width: 800px) {
  .header {
    width: 199px;
    height: 48px;
    padding-top: 30px;
    padding-left: 30px;
  }

  h1 {
    top: 3vh;
    /* font-size: 13.8rem; */
  }

  h2 {
    top: 13vh;
    /* font-size: 12.25rem; */
  }

  .pikachu {
    position: absolute;
    top: 27vh;
    left: 15vw;
  }

  .text {
    width: 530px;
    height: 154px;
    position: absolute;
    top: 76vh;
    left: 7rem;
    color: var(--secundary-color);
    text-align: center;
  }

  .text h3 {
    font-size: 4rem;
  }

  .text p {
    font-size: 1.25rem;
  }
  .button {
    width: 30vw;
    height: 8rem;
    top: 70vh;
    left: 75.24rem;
  }

  footer {
    display: none;
  }
}

@media (max-width: 500px) {
  body {
    width: 360px;
    height: 640px;
  }

  h1 {
    top: 9vh;
    left: 0.5vw;
    /* font-size: 40vw; */
  }

  h2 {
    top: 16vh;
    left: 10vw;
    /* font-size: 81px; */
  }

  .pikachu {
    top: 25vh;
    left: 4vw;
    width: 338px;
  }

  .text h3 {
    font-size: 40px;
  }

  .text p {
    display: none;
  }

  .text {
    width: 331px;
    height: unset;
    top: 73vh;
    left: 4vw;
  }

  .button {
    width: 244px;
    height: 60px;
    top: 85vh;
    left: 16vw;
    font-size: 38px;
  }
}
