@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --primary-color: #f5cf06;
  --secundary-color: #8e4106;
  --font: Righteous;
  --primary-font-weight: 400;
  --primary-font-size: 4rem;
  --secundary-font-size: 1.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
body {
  font-family: var(--font);
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
}

h1 {
  position: absolute;
  top: -2vh;
  left: 2vw;
  font-size: 26vw;
  color: #8f8d8d33;
}

h2 {
  position: absolute;
  top: 20vh;
  left: 15vw;
  font-size: 19vw;
  color: white;
}

header {
  display: flex;
  height: 10vh;
}

.header {
  padding-left: 3vw;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 3vw;
  color: var(--secundary-color);
  z-index: 100;
}

.header img {
  transition: transform 0.6s ease-in-out;
}

.header img:hover {
  transform: rotate(360deg);
}

.pikachu {
  position: absolute;
  top: 20vh;
  left: 30.5vw;
  width: 38vw;
}

.text {
  width: 29vw;
  position: absolute;
  bottom: 21vh;
  left: 12vw;
  color: var(--secundary-color);
}

.text h3 {
  font-size: 3.5vw;
}

.text p {
  font-size: 1.1vw;
}

.button {
  position: absolute;
  bottom: 21vh;
  left: 67vw;
  display: flex;
  width: 27vw;
  height: 10vh;
  background-color: var(--secundary-color);
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  gap: 1rem;
  color: white;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.button img {
  height: 6vh;
}

footer {
  position: absolute;
  bottom: 1vh;
  left: 39vw;
  font-size: 2vw;
  color: var(--secundary-color);
}

@media (max-width: 400px) {
  header {
    height: 9vh;
  }

  h1 {
    font-size: 25.5vw;
    top: 10vw;
  }

  h2 {
    top: 13vh;
    left: 8vw;
    font-size: 23vw;
  }

  .header {
    gap: 3vw;
  }
  .header img {
    width: 9vw;
  }

  .header p {
    font-size: 7vw;
  }

  .pikachu {
    top: 22vh;
    left: 1vw;
    max-width: 98vw;
  }

  .text {
    width: 75vw;
    bottom: 21vh;
    left: 12vw;
  }

  .text h3 {
    font-size: 9vw;
  }

  .button {
    left: 13.5vw;
    bottom: 4vh;
    font-size: 9.5vw;
    width: 73vw;
  }

  footer,
  .text p {
    display: none;
  }
}

@media (max-width: 800px) {
  h1 {
    top: 3vh;
  }
  h2 {
    top: 12vh;
    left: 8vw;
    font-size: 23vw;
  }

  footer {
    display: none;
  }

  .pikachu {
    width: 569px;
    top: 24vh;
    left: 13.5vw;
  }

  .text {
    width: 530px;
    bottom: 14vh;
    left: 20vw;
  }

  .text h3 {
    font-size: 7vw;
  }

  .text p {
    font-size: 2.4vw;
    text-align: center;
  }

  .button {
    bottom: 2vh;
    left: 23vw;
    width: 411px;
    font-size: 5.5vw;
  }

  .button img {
    height: 3vh;
  }
}
